container_commands:
  wget:
    command: wget http://downloads3.ioncube.com/loader_downloads/ioncube_loaders_lin_x86-64.tar.gz
  tar_ioncube:
    command: tar -zxvpf ioncube_loaders_lin_x86-64.tar.gz
  mv_ioncube:
    command: mv ioncube/* /usr/lib64/php/5.6/modules/
  create_ioncube-ini:
    command: echo "zend_extension = /usr/lib64/php/5.6/modules/ioncube_loader_lin_5.6.so" > /etc/php-5.6.d/00-ioncube.ini 
